<div  style="margin-left: 50px; ">
    <div class="row text-center align-self-center">
        <div>
            <h1>Lista de vehiculos</h1>
            <div class="col-md-6 mx-auto" style="margin-top: 10%;">
                <button type="button" class="btn btn-primary btn-lg" (click)= "OnGoOn()" style="margin: 5px;">Ingresar Vehiculo</button>
                <br>
                <button type="button" class="btn btn-warning" (click)= "onLogout()" style="margin: 5px;">Cerrar sesión</button>
            </div>
        </div>
    </div>
</div>
