<div class="card border-primary mb-3 mx-auto" style="max-width: 800px;">
    <div class="card-header" id="letra">Registrar nuevo usuario</div>
    <div class="card-body">
        <form (ngSumbit)="onSave()" [formGroup]="registerForm" class="mt-4">
            <div class="row col-md-12">
                <div class="form-group col-md-12"> 
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Correo" formControlName = "email" [class]="isValidField('email')">
                        <label for="floatingInput">Correo</label>
                        <div class="invalid-feedback">
                            El correo es requerido
                        </div>
                    </div>
                </div>
        
                <div class="form-group col-md-6 mb-2">
                    <div class="form-floating ">
                        <input type="password" class="form-control" id="floatingPassword" autocomplete="on" placeholder="Contraseña" formControlName = "password" [class]="isValidField('password')">
                        <label for="floatingDescription">Contraseña</label>
                        <div class="invalid-feedback">
                            La contraseña es requerida
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="form-floating ">
                        <input type="password" autocomplete="on" class="form-control" id="floatingPassword1" placeholder="Confirmar contraseña" formControlName = "matchingPassword" [class]="isValidField('matchingPassword')">
                        <label for="floatingDescription">Confirmar contraseña</label>
                        <div class="invalid-feedback">
                            Las contraseñas no coinciden
                        </div>
                    </div>
                </div>
        
            </div>
            <button type="submit" class="btn btn-success mt-3" (click)="onSave()" [title]="registerForm.valid ? 'Guarda tus datos' : 'Completa todos los campos'" [disabled]="!registerForm.valid">
                    Registrar
            </button>
        </form>
        <div class="mt-3">
            <p>Ya tienes una cuenta? <a [routerLink]=" ['/login'] ">Inicia sesion</a></p>
        </div>
    </div>
</div>

