<h1 class="mb-2">Registrar Nuevo Automovil</h1>
<div style="margin-top: 20px;" class="mx-auto">
    <form (ngSumbit)="onSave()" [formGroup]="autoForm">
        <div class="row col-md-12">

            <div class="form-group col-md-5 mb-3"> 
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Titulo" formControlName = "titulo" [class]="isValidField('titulo')">
                    <label for="floatingInput">Titulo</label>
                    <div class="invalid-feedback">
                        <span *ngIf="autoForm.get('titulo').errors?.minlength">
                            {{messages.minLength}}
                        </span>
                    </div>
                </div>
            </div>
    
            <div class="form-group col-md-5 mb-3">
                <div class="form-floating ">
                    <input type="text" class="form-control" id="floatingDescription" placeholder="Descripcion" formControlName = "descripcion" [class]="isValidField('descripcion')">
                    <label for="floatingDescription">Descripcion</label>
                    <div class="invalid-feedback">
                        <span *ngIf="autoForm.get('descripcion').errors?.minLength">
                            {{messages.minLength}}
                        </span>
                    </div>
                </div>
            </div>

            <div style="margin-left: 7%;" class="row">
                <div class="col-md-5 col-sm-12 mb-3 col-sm-12 align-s-center">
                    <label for="formFile" class="form-label mt-4">Seleccione una imagen del vehiculo</label>
                    <div class="form-group">
                        <input class="form-control btn-primary" (change)="handleImage($event)" type="file" id="formFile">
                    </div>
                </div>
    
                <div class="col-md-5 col-sm-12 mb-5 img-container mx-auto">
                    <img src="{{url}}" alt="">
                </div>
            </div>
        </div>
        <button style="margin-left: 36%;" type="button" class="btn btn-success" (click)="onSave()" [title]="autoForm.valid ? 'Guarda tus datos' : 'Completa todos los campos'" [disabled]="!autoForm.valid">
            Guardar Cambios</button>
        <button style="margin-left: 10px;" type="button" class="btn btn-warning" (click)="onGoBack()">
            Cancelar</button>  
    </form>
</div>
